api-super3/src/main/resources/productos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://services.super3.das.ubp.edu.ar/" targetNamespace="http://services.super3.das.ubp.edu.ar/" elementFormDefault="qualified">

    <xs:element name="obtenerProductosRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nroSucursal" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="obtenerProductosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>